#motif-setup {
    display: inline-block;
    height: 200px;
    width: 100%;
}

#motif-picker{
    display: table;
    float: left;
}

#color-picker {
    display: table;
    float: right;

    width: 420px;
    height: 200px;
    margin: 0;
    border: 1px solid #DDD;
    background-color: #000000;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}