@import "utilities/variables";
/*
Close element
Example: <a href="#" class="close">
*/
.close {
  position: relative;
  opacity: 0.3;
  width: 20px;
  height: 20px;

  outline: none;
}

.chosen-motif > .close {
  margin-top: 8px;
  margin-right: 2px;
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 24px;
  width: 4px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

//Class specific
.chosen-motif .close {
  float: right;
}
.tab-result .close {
  position: absolute;
  right: 6px;
  margin-top: 4px;
}
.tab-link .close {
  display: none;
  right: 0.5em;
  position: absolute;
}


/*Add element
Example: <a href="#" class="add">
*/

.add {
  position: absolute;
  opacity: 0.3;
  width: 20px;
  height: 20px;

  outline: none;
}
.add:hover {
  opacity: 1;
}
.add:before, .add:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 18px;
  width: 4px;
  background-color: #333;

}
.add:before {
  transform: rotate(90deg);
}
.add:active {
  background-color: $icon-active-color;
}


//Class specific
.tab-link .add {
  right: 0.5em;
  position: absolute;
}

/*Lock element
Example: <a href="#" class="lock">
*/
.tab-result .lock {
  position: absolute;
  right: 4px + 24px + 4px;
  
  display: inline-block;
  margin-top: $resultTab-height - 24px - 8px;

  width: 24px;
  height: 24px;
  line-height: 24px;

}

/*Copy element
Example: <a href="#" class="copy-button">
*/
.tab-result .copy-tab {
  position: absolute;
  right: 4px;

  display: inline-block;
  margin-top: $resultTab-height - 24px - 8px;

  width: 24px;
  height: 24px;
  line-height: 24px;

}

/*Show title element
Example: <a href="#" class="copy-button">
*/
.tab-result {
  .show-title {
    position: absolute;
    right: 84px;

    display: inline-block;
    margin-top: $resultTab-height - 24px - 8px;

    width: 24px;
    height: 24px;
    line-height: 24px;

    text-decoration: none;
    color: $icon-inactive;
  }

  .title-shown {
    color:$icon-hover-color;
  }
}