/* color palette http://paletton.com/#uid=30A0e0kmcsrbjzrhHuar+sQvap-*/
:root {
    /*--main-bg-color: #b8c480;

    --hoover-bg-color: #509f50;
    --active-bg-color: #3e8e41;

    --button-bg-color: #4CAF50;
    --button-color: #fff;

    --search-bg-color: #4CAF50;
    --search-color: #fff;

    --slider-pips-col: black;
    --slider-marker-bg: white;

    --motif-title-bg: #d4e79e;
    --motif-title-color: black;

    --tooltip-container-bg: #2b669a;*/


    --main-bg-color:#9AB87A ;

    --hoover-bg-color: #436449;
    --active-bg-color: #436449;

    --button-bg-color: #537258;
    --button-color: white;

    --search-bg-color: #537258;
    --search-color: white;

    --slider-connect-bg:#537258;
    --slider-pips-col: #0F0A0A;
    --slider-marker-bg: #0F0A0A;

    --motif-title-bg: #F8F991;
    --motif-title-color: black;

    --tooltip-container-bg: white;

    /*--main-bg-color:#84AE31 ;

    --hoover-bg-color: #436400;
    --active-bg-color: #436400;

    --button-bg-color: #658C17  ;
    --button-color: white;

    --search-bg-color: #658C17;
    --search-color: white;

    --slider-connect-bg:#436400;
    --slider-pips-col: #0F0A0A;
    --slider-marker-bg: #0F0A0A;

    --motif-title-bg:#B6D369;
    --motif-title-color: black;

    --tooltip-container-bg: white;*/


}

body {
    background-color: var(--main-bg-color);
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button, #pValueSlider {
    border: 0 solid #4CAF50;
}

#sequenceInput, #result, #tooltip-container{
    border: 2px solid black;
}

.round {
    border-radius: 5px;
}









