/* color palette http://paletton.com/#uid=30A0e0kmcsrbjzrhHuar+sQvap-*/
:root {
    /*--main-bg-color: #b8c480;

    --hoover-bg-color: #509f50;
    --active-bg-color: #3e8e41;

    --button-bg-color: #4CAF50;
    --button-color: #fff;

    --search-bg-color: #4CAF50;
    --search-color: #fff;

    --slider-pips-col: black;
    --slider-marker-bg: white;

    --motif-title-bg: #d4e79e;

    --tooltip-container-bg: #2b669a;*/

    --main-bg-color: white;

    --hoover-bg-color: white;
    --active-bg-color: white;

    --button-bg-color: white;
    --button-color: white;

    --search-bg-color: white;
    --search-color: white;

    --slider-connect-bg: white;
    --slider-pips-col: black;
    --slider-marker-bg: white;

    --motif-title-bg: white;

    --tooltip-container-bg: white;
}

body {
    background-color: var(--main-bg-color);
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button, #sequenceInput, #result, #pValueSlider {
    border: 0 solid #4CAF50;
}

.round {
    border-radius: 5px;
}









