/* color palette http://paletton.com/#uid=30A0e0kmcsrbjzrhHuar+sQvap-*/
@import "utilities/variables";

// from sidenav.scss
//$sidebar-initial-width: 3.5rem;

// Options
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: $main-bg-color;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.interface-component {
  margin-left: $sideNav-initialWidth;
}

.button, #pValueSlider {
  border: 0 solid #4CAF50;
}

#sequence-input, #result, #tooltip-container{
  border: 2px solid black;
}

.interface-component {
  padding: 0 10px 0 10px;
}

.round {
  border-radius: 5px;
}









