@import "utilities/variables";

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  > li {
    margin: 0;
    > a {
      outline: none;
    }
  }
}

/* Nav-bar Styles */
.nav-bar {
  z-index: 3;
  width: 100%;
  height: $topNav-navLineHeight * 2;
  top: 0;
  margin: 0 0 10px 0;
  padding: 0 10px;
  position: fixed;
  background: $topNav-primaryMenuBackground;
  box-shadow: 0 1px 1px 0 $topNav-primaryBoxShadow;
  > .the-nav {
    height: $topNav-navLineHeight * 2;
  }
}

.nav {
  height: $topNav-navLineHeight;
  a {
    color: $topNav-primaryMenuText;
    font-weight: 500;
    text-align: center;
    top: 5px
  }

  /* Dropdown */
  > li {
    float: left;
    display: inline-block;
    position: relative;

    > a {
      padding: 10px 10px;
      display: inline-block;
      color: $topNav-primaryMenuText;
      font-weight: 500;
      text-align: center;
      text-decoration: none;

      > .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin: 8px 0 2px 0;

        border-top: 4px solid #A7A7A7;
        border-bottom: 4px transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;

        vertical-align: top;
        content: "";
      }
    }

    /* Sub-nav */
    > .sub-nav {
      position: absolute;
      display: none;
      width: 180px;
      box-shadow: 0 1px 1px 0 $topNav-primaryBoxShadow;
      background-color: $topNav-primaryMenuBackground;
      z-index: 1;
      border-radius: 5px;

      >li a {
        display: block;
        padding: 10px 10px;
        color: $topNav-primaryMenuText;
        text-decoration: none;
      }
    }
  }

  /* Search input */
  > .search-container {
    padding: 10px 24px 10px 10px;

    > #motif-search {
      position: absolute;
      display: inline-block;
      width: 320px;
      padding: 0px 0px 4px 5px;


      border: 0 solid;
      border-bottom: 1px solid black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      outline: none;

      background: $topNav-primaryMenuBackground;
      color: $topNav-secondaryMenuText;
      font-size: 15px;
      font-family: $defaultFontFamily;
    }
  }

  > .title-container{
    text-shadow: 1px 4px 6px $primaryColor, 0.3px 0.3px 0.3px grey, 1px 4px 6px $primaryColor;

    color: $textColor;
    padding: 10px;
    position: absolute;
    min-width: 480px;
    left: 400px;
  }
}

/* Active State */
.nav > li:hover {
  > a {
    color: #303030;

    > .caret {
      border-top-color: #303030;
      border-bottom-color: #303030;
    }
  }

  > .sub-nav {
    display: block;
  }
}

.nav > li > .sub-nav > li:hover a{
  color: $topNav-primaryMenuBackground;
  border-radius: 5px;
}
//////////////////

.pull-left {float: left;}
.pull-right {float: right;}
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.top-second {top: $topNav-navLineHeight}
.top-first {top: 0;}

//////////////////
.clearfix:after {
  content: "";
  display: table;
  clear:both;
}

.container {
  width: 95%;
  margin: 0 auto;
  &.nav-bar {
    width: 100%;
  }

  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*Positioning*/
/* Default media < 800px - two line menu */
.the-nav {
  min-width: 600px;
  .top-first{
    position: absolute;
    > .search-container {
      min-width: 380px;
    }
  }
  .top-second {
    padding-top: 3px;
    position: relative;
  }
}

/* Media for larger devices */
@media screen and (min-width: $widthThreshHold) {
  .nav-bar {
    height: $topNav-navLineHeight;

    > .the-nav {
      min-width: unset;
      height: $topNav-navLineHeight;

      >.top-first {
        position: static;

        > .search-container {
          margin-left: 10px;

        }
      }

      >.top-second {
        position: static;
      }
    }
  }
}
