ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul > li {
    margin: 0; }
    ul > li > a {
      outline: none; }

/* Nav-bar Styles */
.nav-bar {
  z-index: 3;
  width: 100%;
  height: 160px;
  top: 0;
  margin: 0 0 10px 0;
  padding: 0 10px;
  position: fixed;
  background: #dadada;
  box-shadow: 0 1px 1px 0 black; }
  .nav-bar > .the-nav {
    height: 160px; }

.nav {
  height: 80px;
  /* Dropdown */
  /* Search input */ }
  .nav a {
    color: black;
    font-weight: 500;
    text-align: center;
    top: 5px; }
  .nav > li {
    float: left;
    display: inline-block;
    position: relative;
    /* Sub-nav */ }
    .nav > li > a {
      padding: 10px 10px;
      display: inline-block;
      color: black;
      font-weight: 500;
      text-align: center;
      text-decoration: none; }
      .nav > li > a > .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin: 8px 0 2px 0;
        border-top: 4px solid #A7A7A7;
        border-bottom: 4px transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        vertical-align: top;
        content: ""; }
    .nav > li > .sub-nav {
      position: absolute;
      display: none;
      width: 180px;
      box-shadow: 0 1px 1px 0 black;
      background-color: #dadada;
      z-index: 1;
      border-radius: 5px; }
      .nav > li > .sub-nav > li a {
        display: block;
        padding: 10px 10px;
        color: black;
        text-decoration: none; }
  .nav > .search-container {
    padding: 10px 24px 10px 10px; }
    .nav > .search-container > i {
      margin-top: -3px;
      margin-left: 300px;
      position: absolute; }
    .nav > .search-container > #motif-search {
      margin-left: 32px;
      position: absolute;
      display: inline-block;
      width: 270px;
      padding: 0px 0px 4px 5px;
      border: 0 solid;
      border-bottom: 1px solid black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      background: #dadada;
      color: black;
      font-size: 15px;
      font-family: sans-serif; }
    .nav > .search-container .collection-settings #collection-settings-button {
      position: absolute;
      left: 0;
      top: -4px; }

.title-container {
  text-shadow: 1px 4px 6px #dadada, 1px 1px 1px grey, 1px 4px 6px #dadada;
  color: black;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 360px; }

/* Active State */
.nav > li:hover > a {
  color: #303030; }
  .nav > li:hover > a > .caret {
    border-top-color: #303030;
    border-bottom-color: #303030; }
.nav > li:hover > .sub-nav {
  display: block; }

.nav > li > .sub-nav > li:hover a {
  color: #dadada;
  border-radius: 5px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.top-second {
  top: 80px; }

.top-first {
  top: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  width: 95%;
  margin: 0 auto; }
  .container.nav-bar {
    width: 100%; }
  .container:before, .container:after {
    content: "";
    display: table;
    clear: both; }

/*Positioning*/
/* Default media < $minWidth - two line menu */
.the-nav {
  min-width: 620px; }
  .the-nav .top-first {
    position: absolute; }
    .the-nav .top-first > .search-container {
      min-width: 380px; }
  .the-nav .top-second {
    padding-top: 3px;
    position: relative; }
  .the-nav .title-container {
    text-align: center;
    display: none; }

/* Media for larger devices */
@media screen and (min-width: 670px) {
  .title-container {
    display: unset !important; } }
/* Media for larger devices */
@media screen and (min-width: 1360px) {
  .nav-bar {
    height: 80px; }
    .nav-bar > .the-nav {
      min-width: unset;
      height: 80px; }
      .nav-bar > .the-nav > .top-first {
        position: static; }
        .nav-bar > .the-nav > .top-first > .search-container {
          margin-left: 10px; }
      .nav-bar > .the-nav > .top-second {
        position: static; }
      .nav-bar > .the-nav .title-container {
        text-align: left; } }

/*# sourceMappingURL=navigationTopBar.css.map */
