ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul > li {
    margin: 0; }
    ul > li > a {
      outline: none; }

/* Nav-bar Styles */
.nav-bar {
  z-index: 3;
  width: 100%;
  height: 70px;
  top: 0;
  margin: 0 0 10px 0;
  padding: 0 10px;
  position: fixed;
  background: #dadada;
  box-shadow: 0 1px 1px 0 black; }
  .nav-bar > .the-nav {
    height: inherit; }

.nav {
  height: 40px;
  /* Search input */ }
  .nav a {
    color: black;
    font-weight: 500;
    text-align: center;
    top: 5px; }
  .nav > .search-container {
    padding: 10px 24px 10px 10px; }
    .nav > .search-container > i {
      margin-top: -3px;
      margin-left: 300px;
      position: absolute; }
    .nav > .search-container > #motif-search {
      margin-left: 32px;
      position: absolute;
      display: inline-block;
      width: 270px;
      padding: 0 0 4px 5px;
      border: 0 solid;
      border-bottom: 1px solid black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      background: #dadada;
      color: black;
      font-size: 15px;
      font-family: sans-serif; }
    .nav > .search-container .collection-settings #collection-settings-button {
      position: absolute;
      left: 0;
      top: -4px; }

.title-container {
  text-shadow: 1px 4px 6px #dadada, 1px 1px 1px grey, 1px 4px 6px #dadada;
  color: black;
  padding: 10px;
  position: absolute;
  width: 380px;
  left: 0;
  top: 30px; }

/* Active State */
.nav > li:hover > a {
  color: #303030; }
  .nav > li:hover > a > .caret {
    border-top-color: #303030;
    border-bottom-color: #303030; }
.nav > li:hover > .sub-nav {
  display: block; }

.nav > li > .sub-nav > li:hover a {
  color: #dadada;
  border-radius: 5px; }

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  width: 95%;
  margin: 0 auto; }
  .container.nav-bar {
    width: 100%; }
  .container:before, .container:after {
    content: "";
    display: table;
    clear: both; }

/*Positioning*/
/* Default media < $minWidth - two line menu */
.the-nav {
  min-width: 620px; }
  .the-nav .pull-left {
    top: 0;
    float: left;
    position: absolute; }
    .the-nav .pull-left > .search-container {
      min-width: 380px; }
  .the-nav .pull-right {
    top: 0;
    margin-right: 8px;
    margin-left: 380px;
    padding-top: 3px;
    min-width: 405px;
    text-align: center;
    height: inherit;
    position: relative; }
    .the-nav .pull-right .interface-button {
      margin-right: 2vw; }
      .the-nav .pull-right .interface-button .material-icons {
        font-size: 200%; }
    .the-nav .pull-right .first-line, .the-nav .pull-right .second-line {
      display: block; }
  .the-nav .title-container {
    text-align: center;
    display: unset; }

/* Media for larger devices */
@media screen and (min-width: 1100px) {
  .first-line, .second-line {
    margin-top: 13.33333px;
    display: inline-block !important; } }
/* Media for devices smaller than threshold*/
@media screen and (max-width: 780px) {
  .interface-button span {
    display: none !important; }

  .first-line {
    margin-left: 4vw !important; }

  .pull-right {
    margin-left: 253.33333px !important; } }

/*# sourceMappingURL=navigationTopBar.css.map */
