// Utilities
@import "utilities/variables";


// Sidebar
.nav-sidebar {
  position: absolute;
  top: $topNav-navLineHeight * 2;
  left: 0;
  height: 100%;
  z-index: 2;

  > nav {
    width: $sideNav-initialWidth * 1;
    height: 100%;
    background: $sideNav-mainColor;
    color: white;
    transition: all 300ms ease;
    overflow: hidden;
    box-shadow: 0px 0px 10px #333;

    // SIDEBAR EXPAND
    &:hover {
      width: $sideNav-initialWidth * 4;
    }

    * {
      user-select: none;
    }

    // SIDEBAR MENU
    > ul {
      display: table;
      width: $sideNav-initialWidth * 4;

      // SIDEBAR MENU ITEM
      > li {
        display: table-row;
        background: darken($sideNav-mainColor, 10%);
        cursor: pointer;

        > a {
          padding: 10px 10px;
          display: inline-block;
          color: white;
          font-weight: 500;
          text-align: center;
          text-decoration: none;
        }

        &:hover {
          background: lighten($sideNav-mainColor, 10%);
        }

        &:active {
          background: lighten($sideNav-mainColor, 20%);
        }

        > div {
          height: $sideNav-initialWidth;
          line-height: $sideNav-initialWidth;
          display: table-cell;

          // ICON
          &:nth-child(1) {
            width: $sideNav-initialWidth;
            text-align: center;
          }

          // DESCRIPTION
          &:nth-child(2) {
            width: $sideNav-initialWidth * 3;
            text-align: left;
            padding-left: $sideNav-initialWidth / 5;
          }
        }
      }
    }
  }
}

/* Media for larger devices */
@media screen and (min-width: 800px) {
  .nav-sidebar {
    top: $topNav-navLineHeight * 1;
  }
}

/*HTML
<div class="nav-sidebar">
            <nav>
                <ul>
                    <li id="link-zero">
                        <div></div>

                        <a>
                        </a>
                    </li>
                    <li id="link-one">
                        <div>Save</div>

                        <a>
                            <span class="icon octicon octicon-cloud-download"></span>
                        </a>
                    </li>
                    <li id="link-two">
                        <div>Sequence</div>

                        <a class="show-button" applyToId="sequence-input-cmp" href="#">
                            <span class="icon octicon octicon-eye"></span>
                        </a>

                        <a class="show-button" applyToId="sequence-input-cmp" href="#">
                            <span class="icon octicon octicon-graph"></span>
                        </a>
                    </li>
                    <li id="link-three">
                        <div>Slider</div>

                        <a class="show-button" applyToId="log-slider-cmp" href="#">
                            <span class="icon octicon octicon-eye"></span>
                        </a>
                    </li>
                    <li id="link-four">
                        <div>Table</div>

                        <a>
                            <span class="icon octicon octicon-cloud-download"></span>
                        </a>
                    </li>
                    <li id="link-five">
                        <div>Markup</div>

                        <a>
                            <span class="icon octicon octicon-cloud-download"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
*/
