/* color palette http://paletton.com/#uid=30A0e0kmcsrbjzrhHuar+sQvap-*/
@import "utilities/variables";


// Options
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: $main-bg-color;
}

.interface-area {
  margin-left: $sideNav-initialWidth;
  margin-top: 2 * $topNav-navLineHeight + 10px;
}

#sequence-input, #title-input{
  border: 2px solid black;
}

.interface-button {
  color: $icon-default-color;
  //background-color:#e9e9e9;
  position: relative;

  line-height: 20px;
  margin-right: 0.333em;
  padding: 0.5em 1em;

  cursor: pointer;
  font-size: 0.77em;
  white-space: nowrap;
  overflow: hidden;

  text-decoration: none;
  outline: none;
}

.interface-button:hover {
  color: $icon-hover-color;
}
.interface-button:active {
  color: $icon-active-color;
}

.interface-component {
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
}

.round {
  border-radius: 5px;
}

.empty {
  display: none;
}



//toggled classes
.full-screen {
  height: 400px !important;
  word-break: break-all;
  border-bottom: none !important;
}

.flattened {
  line-height: $resultTab-height !important;
  height: $resultTab-height !important;
/*  overflow-x: scroll;
  overflow-y: hidden;*/
  word-wrap: normal;
}

.hidden {
  display: none !important;
}


/* Media for larger devices */
@media screen and (min-width: 800px) {
  .interface-area {
    /*Positioning*/
    /* Default media > 800px - one line menu */
    margin-top: $topNav-navLineHeight + 10px;
  }
}







