/* color palette http://paletton.com/#uid=30A0e0kmcsrbjzrhHuar+sQvap-*/
@import "utilities/variables";


// Options
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
html {
}
body {
  height: 100%;
  margin: 0;
  background-color: $main-bg-color;
  overflow-y: scroll;
}

td a:link,
.motif-title a:link,
#help-cmp a:link {
  color: #0645AD;
  text-decoration: none;
}
td a:visited,
.motif-title a:visited,
#help-cmp a:visited{
  color: #0645AD;
  text-decoration: none;
}

.interface-area {
  margin-top: 2 * $topNav-navLineHeight;
  .disabled {
    display: none;
  }
  overflow-x: hidden;
}
.interface-component {
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}


.interface-button {
  color: $icon-default-color;
  position: relative;

  line-height: 20px;
  margin-right: 0.333em;
  padding: 10px 10px;

  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  //overflow: hidden;
  text-decoration: none;
  text-align: center;
}
.interface-button:not(.zoom-button):hover {
  .material-icons {
    color: $icon-hover-color;
  }
}
.interface-button:not(.zoom-button):active {
  .material-icons {
    color: $icon-active-color;
  }
}

input[type="file"] {
  display: none;
}


.empty {
  display: none;
}

//toggled classes
.full-screen {
  //line-height: $resultTab-height * 0.45 !important;
  min-height: 12 + $resultTab-height * 4 + px !important;
  word-break: break-all;
  border-bottom: none !important;
}

.scrollable {
  overflow-y: scroll !important;
}

#result-sequences {
  .flattened {
    //line-height: $resultTab-height !important;
    height: $resultTab-height !important;
    word-wrap: normal;
  }
}

.hidden {
  display: none !important;
}

//ColorPicker
.sp-container{
  border: solid $thick $borderColor;
  border-radius: $border-radius;
}


/* Media for larger devices */
@media screen and (min-width: $widthThreshHold) {
  .interface-area {
    /*Positioning*/
    /* Default media > 800px - one line menu */
    margin-top: $topNav-navLineHeight;
  }
}
