@import "utilities/variables";

.sliderBox {
  padding: 10px;
  height: 120px;

  .inputBox {
    position: relative;
    left: 5px;
    margin-top: 50px;

    .inputUnit{
      display: inline-block;
      width: 240px;

      .label {
        left: 5px;
        width: 110px;
      }

      .input {
        position: relative;
        left: 5px;
        border: 5px solid white;
        border-radius: 5px;
        color:black;
        font-weight:bold;
        width: 80px;
      }
    }
  }
}

.noUi-pips{
  color: $slider-pips-col;
}

.noUi-pips-large{
  color: $slider-pips-col;
}

.noUi-marker{
  background: $slider-marker-bg;
}

.noUi-connect{
  background: $slider-connect-bg;
}
