.inputBox {
    position: relative;
    left: 5px;
}

.label {
    left: 5px;
    width: 110px;
}

.input {
    position: absolute;
    left: 110px;
    border:0;
    color:black;
    font-weight:bold;
    width: 60px;
}

#logSlider{
}

.sliderBox {
    padding: 10px;
}
