@import "utilities/variables";

.sliderBox {
  padding: 10px 10px 10px 10px;

  #log-slider {
    display: inline-block;
    width: 70%;
    margin-top: 5px;
  }

  .inputBox {
    display: inline-block;
    position: relative;
    left: 5px;
    margin-top: 5px;

    .inputUnit{
      display: inline-block;
      width: 240px;

      .label {
        left: 5px;
        width: 110px;
      }

      .input {
        padding: 5px;

        position: relative;
        left: 5px;
        border: $thin solid $borderColor;
        border-radius: 5px;

        color:black;
        font-weight:bold;

        width: 80px;
        height: 40px;
      }
    }
  }
}

.noUi-pips{
  color: $slider-pips-col;
}

.noUi-pips-large{
  color: $slider-pips-col;
}

.noUi-marker{
  background: $slider-marker-bg;
}

.noUi-connect{
  background: $slider-connect-bg;
}
