.segment {
    border-radius: 2px;

    vertical-align: -4px;
    text-align: center;
    overflow: hidden;
/*
    border-style: solid;

    border-color: transparent;
    border-width: 2px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    */
}


.highlighted {
    border-top: solid salmon 4px;
    border-bottom: solid salmon 4px;
    /*
    border-top: solid salmon;
    border-bottom: solid salmon;

    box-shadow: 0px 0px 0px 3px rgba(194,66,49,1);

    border-collapse:collapse;
    border-top-color: #F00;
    border-bottom-color: #F00;
    border-width: 4px;
*/
}

.last {
    border-top: solid salmon 4px;
    border-bottom: solid salmon 4px;
    /*
    box-shadow: 0px 0px 0px 4px rgba(194,66,49,1);

    border-collapse:collapse;
    border-right-color: #F00;
    border-width: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    */
}

.first {
    border-top: solid salmon 4px;
    border-bottom: solid salmon 4px;
    /*
    border-left: solid salmon;

    box-shadow: 0px 0px 0px 4px rgba(194,66,49,1);

    border-collapse:collapse;
    border-left-color: #F00;
    border-width: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    */
}

#sequenceInput {
    font-family: "Courier New", "Times New Roman";
    font-size: 23px;

    width: 100%;
    height: 100px;

    /*#FFD995*/

    background-color: #ffffff;

    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#result {
    font-family: "Courier New", "Times New Roman";
    font-size: 23px;

    width: 100%;
    height: 100px;

    word-wrap: break-word;
    overflow:auto;
    word-break: break-all;

    background-color: #ffffff;

    margin-top: 10px;
    margin-bottom: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

