@import "utilities/variables";

#sequence-input, #title-input {
  font-family: "Courier New", "Times New Roman";
  font-size: 23px;

  width: 100%;
  height: 100px;

  background-color: #ffffff;
}

.segment {
  border-radius: 2px;

  vertical-align: -4px;
  text-align: center;
  overflow: hidden;
}

.highlighted {
  border-top: solid salmon 4px;
  border-bottom: solid salmon 4px;
}

.last {
  border-top: solid salmon 4px;
  border-bottom: solid salmon 4px;
}

.first {
  border-top: solid salmon 4px;
  border-bottom: solid salmon 4px;
}

//toggled classes
.full-screen {
  height: 80vh !important;
}

.flattened {
  line-height: $resultTab-height !important;
  height: $resultTab-height !important;
  overflow-x: scroll;
  overflow-y: hidden;
  word-wrap: normal;
}

.hidden {
  display: none;
}