@import "utilities/variables";

.segment {
  border-radius: 2px;

  vertical-align: -4px;
  text-align: center;
  overflow: hidden;
}

.segment:hover {
  border-top: solid $motif-selected-on-result-hover 4px;
  border-bottom: solid $motif-selected-on-result-hover 4px;
}

.highlighted {
  border-top: solid $motif-selected-on-result-hover 4px;
  border-bottom: solid $motif-selected-on-result-hover 4px;
}

.last {
  border-top: solid $motif-selected-on-result-hover 4px;
  border-bottom: solid $motif-selected-on-result-hover 4px;
}

.first {
  border-top: solid $motif-selected-on-result-hover 4px;
  border-bottom: solid $motif-selected-on-result-hover 4px;
}