#help-cmp {
  margin-top: 120px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid grey;
  background-color: white;
  letter-spacing: 0.75px;
  overflow-x: hidden; }
  #help-cmp .help-header {
    margin: 0 auto;
    width: 300px;
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
    line-height: 36px; }
  #help-cmp .help-content {
    margin: 16px;
    text-align: justify;
    font-size: 16px;
    line-height: 24px; }
    #help-cmp .help-content ol {
      margin: 8px; }
  #help-cmp .italic {
    font-style: italic; }

.nav-area {
  font-family: sans-serif; }

.suggestions {
  position: relative;
  font-family: sans-serif;
  margin-top: 42px;
  background-color: #dadada;
  border-radius: 10px;
  border: 1px solid grey;
  min-width: 630px; }
  .suggestions #legend-container {
    border-top: none;
    border-bottom: 1px solid grey;
    min-height: 26px; }
    .suggestions #legend-container .absolute {
      position: absolute; }
    .suggestions #legend-container .feature {
      margin: 0 4px 0 4px;
      padding: 0 4px 0 4px; }
  .suggestions .suggestion {
    min-height: 60px;
    border-top: 1px solid grey;
    border-radius: 0;
    padding: 2px;
    margin: 2px; }
    .suggestions .suggestion .feature {
      display: inline;
      padding: 4px;
      margin: 4px; }
    .suggestions .suggestion .second {
      position: absolute;
      left: 250px;
      max-width: 240px; }
    .suggestions .suggestion .third {
      position: absolute;
      left: 500px;
      max-width: 240px; }
  .suggestions #motif-list {
    max-height: 310px;
    position: relative; }
    .suggestions #motif-list .motif-container .motif-title {
      display: inline-block;
      padding: 4px;
      margin: 4px;
      background-color: white;
      border: 1px solid grey;
      border-radius: 10px;
      font-size: 16px;
      color: black; }
    .suggestions #motif-list .motif-container .motif-title:hover {
      cursor: pointer;
      cursor: hand; }
    .suggestions #motif-list div:first-child {
      border-top: none; }
  .suggestions #motif-list.spread {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 360px; }
  .suggestions #ifMore-container .ifMore-value {
    min-height: 35px; }
    .suggestions #ifMore-container .ifMore-value .interface-button {
      display: block;
      top: 0px;
      padding: 5px; }

#motif-list-selected-cmp {
  font-family: sans-serif;
  min-height: 75px; }
  #motif-list-selected-cmp #motif-list-selected {
    display: inline-block;
    margin-top: 20px;
    width: 100%; }
    #motif-list-selected-cmp #motif-list-selected .chosen-motif {
      display: inline-block;
      margin: 0 5px 5px 5px;
      padding: 2px 8px 2px 2px;
      border-radius: 10px;
      border: 1.5px solid grey;
      background-color: white; }
      #motif-list-selected-cmp #motif-list-selected .chosen-motif .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;
        background-color: white;
        border: 3px transparent solid;
        border-radius: 5px;
        font-size: 16px;
        color: black; }
      #motif-list-selected-cmp #motif-list-selected .chosen-motif .description {
        margin: 0 2px 8px 8px;
        vertical-align: middle; }
      #motif-list-selected-cmp #motif-list-selected .chosen-motif .sp-replacer {
        border-radius: inherit;
        border: none;
        background-color: white; }
    #motif-list-selected-cmp #motif-list-selected .motif-result-hover .motif-title {
      border-color: #a3a3a3; }
  #motif-list-selected-cmp #motif-list-selected:empty {
    display: none; }

#manual-seq-input {
  font-family: sans-serif;
  background-color: white;
  border: 1.5px solid grey;
  border-radius: 5px;
  margin: 5px; }
  #manual-seq-input textarea {
    border: solid 1.5px white;
    border-bottom: solid 1.5px grey;
    font-family: "Courier New", "Monospaced", monospace;
    font-size: 23px;
    resize: none;
    width: 100%;
    line-height: 25px;
    height: 205px;
    padding: 5px 0;
    margin-bottom: 5px; }
  #manual-seq-input .input-controls {
    margin: 10px 5px 5px 5px;
    overflow: hidden; }
    #manual-seq-input .input-controls .left {
      display: inline-block; }
    #manual-seq-input .input-controls .right {
      float: right; }
    #manual-seq-input .input-controls .interface-button {
      background-color: #ededf2;
      border-radius: 5px;
      border: solid grey 1px;
      display: inline-block;
      padding: 5px 10px; }
      #manual-seq-input .input-controls .interface-button span {
        display: inline-block;
        min-width: 120px;
        vertical-align: middle; }
        #manual-seq-input .input-controls .interface-button span .material-icons {
          float: right; }
      #manual-seq-input .input-controls .interface-button label {
        cursor: pointer; }
    #manual-seq-input .input-controls .zoom-button {
      background-color: white;
      cursor: default;
      border: none; }
      #manual-seq-input .input-controls .zoom-button i {
        cursor: pointer;
        border-radius: 5px;
        background-color: #ededf2;
        border: 1px solid grey; }
      #manual-seq-input .input-controls .zoom-button .material-icons:hover {
        color: black; }
      #manual-seq-input .input-controls .zoom-button .material-icons:active {
        color: #a3a3a3; }

#sequence-input-cmp {
  font-family: sans-serif;
  background-color: #ededf2; }
  #sequence-input-cmp .controls {
    border-radius: 2px;
    background-color: #ededf2;
    padding: 5px;
    margin-bottom: 10px; }
    #sequence-input-cmp .controls .button-container {
      display: inline-block;
      background-color: #ededf2;
      float: right; }
      #sequence-input-cmp .controls .button-container .interface-button {
        outline: none;
        border: 1px solid grey;
        border-left: none;
        border-radius: 5px;
        background-color: white;
        margin: 0;
        text-align: center; }
        #sequence-input-cmp .controls .button-container .interface-button span {
          display: inline-block;
          width: 100px; }
        #sequence-input-cmp .controls .button-container .interface-button .custom-file-upload {
          display: inline-block;
          padding: 6px 12px;
          cursor: pointer; }
          #sequence-input-cmp .controls .button-container .interface-button .custom-file-upload input[type="file"] {
            display: none; }
      #sequence-input-cmp .controls .button-container .interface-button:first-child {
        border-left: 1px solid grey; }

#result-cmp {
  font-family: sans-serif;
  position: relative; }
  #result-cmp #result-tabs {
    min-width: 180px;
    min-height: 305px;
    position: absolute;
    left: 0;
    padding: 0 0 0 5px;
    z-index: 2;
    cursor: pointer;
    background-color: #ededf2; }
    #result-cmp #result-tabs .tab-result {
      background-color: #dadada;
      height: 90px;
      line-height: 90px;
      margin: 5px 0 10px 0;
      border: 1.5px solid grey;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none; }
      #result-cmp #result-tabs .tab-result .tab-result-name {
        font-size: 15px;
        float: left;
        height: inherit;
        background: none;
        color: #222;
        display: inline-block;
        text-align: left;
        text-decoration: none;
        padding-left: 5px; }
    #result-cmp #result-tabs .current-tab {
      background-color: white; }
  #result-cmp #result-sequences {
    font-family: "Courier New", "Monospaced", monospace;
    font-size: 23px;
    margin-left: 175px;
    margin-top: 5px;
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    border-top: solid 1.5px grey;
    border-top-right-radius: 5px; }
    #result-cmp #result-sequences .patch {
      position: absolute;
      width: 5px;
      height: inherit;
      z-index: 2; }
    #result-cmp #result-sequences .border-patch {
      border-right: solid grey 1.5px;
      border-radius: 5px;
      right: 5px; }
    #result-cmp #result-sequences .area-patch {
      background-color: #ededf2;
      right: 0; }
    #result-cmp #result-sequences .tab-result-sequence {
      margin: 10px 0 5px 0;
      background-color: #ffffff; }
      #result-cmp #result-sequences .tab-result-sequence .digits {
        opacity: 0.3; }
        #result-cmp #result-sequences .tab-result-sequence .digits span {
          border-radius: 2px;
          vertical-align: -4px;
          text-align: center;
          overflow: hidden; }
    #result-cmp #result-sequences .flattened .digits {
      position: static;
      height: 20px;
      line-height: 20px;
      width: inherit; }
    #result-cmp #result-sequences .flattened .sequence, #result-cmp #result-sequences .flattened .title {
      position: static;
      margin-top: 0 !important;
      height: 70px;
      line-height: 70px;
      width: inherit; }
    #result-cmp #result-sequences .flattened .locked.digits {
      position: absolute; }
    #result-cmp #result-sequences .flattened .locked.sequence, #result-cmp #result-sequences .flattened .locked.title {
      position: absolute;
      padding-top: 20px; }
    #result-cmp #result-sequences .full-screen .digits {
      position: static;
      margin-top: -22.5px;
      line-height: 67.5px; }
    #result-cmp #result-sequences .full-screen .sequence, #result-cmp #result-sequences .full-screen .title {
      position: static;
      line-height: 67.5px; }
  #result-cmp #result-sequences:empty {
    display: none; }

#motif-table-cmp {
  font-family: sans-serif;
  word-break: break-all;
  white-space: nowrap;
  overflow-x: scroll; }
  #motif-table-cmp thead {
    word-break: normal; }

/* Media for larger devices */
@media screen and (min-width: 1340px) {
  #help-cmp {
    margin-top: 80px; }

  .suggestions {
    margin-top: 2px; } }

/*# sourceMappingURL=UIComponents.css.map */
