.suggestions {
  margin-top: 10px;
  background-color: #dadada;
  border-radius: 10px;
  border: 1px solid black;
  min-width: 600px; }
  .suggestions #legend-container {
    border-top: none;
    border-bottom: 1px solid black;
    min-height: 26px; }
    .suggestions #legend-container .absolute {
      position: absolute; }
    .suggestions #legend-container .feature {
      margin: 0 4px 0 4px;
      padding: 0 4px 0 4px; }
  .suggestions .suggestion {
    min-height: 46px;
    border-top: 1px solid black;
    border-radius: 0;
    padding: 2px;
    margin: 2px; }
    .suggestions .suggestion .feature {
      display: inline;
      vertical-align: middle;
      padding: 4px;
      margin: 4px; }
    .suggestions .suggestion .second {
      position: absolute;
      left: 250px;
      max-width: 240px; }
    .suggestions .suggestion .third {
      position: absolute;
      left: 500px;
      max-width: 240px; }
  .suggestions #motif-list .motif-container .motif-title {
    display: inline-block;
    padding: 4px;
    margin: 4px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
    font-size: 16px;
    color: black; }
  .suggestions #motif-list .motif-container .motif-title:hover {
    cursor: pointer;
    cursor: hand; }
  .suggestions #motif-list div:first-child {
    border-top: none; }
  .suggestions #ifMore-container .ifMore-value {
    min-height: unset; }
    .suggestions #ifMore-container .ifMore-value .show-more-icon {
      color: black; }
      .suggestions #ifMore-container .ifMore-value .show-more-icon .material-icons {
        vertical-align: middle; }

#motif-list-selected-cmp {
  min-height: 75px; }
  #motif-list-selected-cmp #motif-list-selected {
    display: inline-block;
    margin-top: 20px;
    width: 100%; }
    #motif-list-selected-cmp #motif-list-selected .chosen-motif {
      display: inline-block;
      margin: 0 5px 5px 5px;
      padding: 2px 8px 2px 2px;
      border-radius: 10px;
      border: 2px solid black;
      background-color: white; }
      #motif-list-selected-cmp #motif-list-selected .chosen-motif .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;
        vertical-align: middle;
        background-color: white;
        border: 3px transparent solid;
        border-radius: 5px;
        font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B";
        font-size: 16px;
        color: black; }
      #motif-list-selected-cmp #motif-list-selected .chosen-motif .sp-replacer {
        border-radius: inherit;
        border: none;
        background-color: white; }
    #motif-list-selected-cmp #motif-list-selected .motif-result-hover .motif-title {
      border-color: salmon; }
  #motif-list-selected-cmp #motif-list-selected:empty {
    display: none; }

#manual-seq-input {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px; }
  #manual-seq-input textarea {
    border: solid 2px white;
    font-family: "Courier New", "Times New Roman";
    font-size: 23px;
    resize: none;
    width: 100%;
    line-height: 25px;
    height: 200px; }
  #manual-seq-input .input-controls {
    padding: 20px 0 10px 0;
    border-top: solid black 2px; }
    #manual-seq-input .input-controls .interface-button {
      border-radius: 5px;
      border: solid black 1px;
      padding: 7px;
      margin-left: 5px; }
      #manual-seq-input .input-controls .interface-button span {
        display: inline-block;
        min-width: 120px; }
        #manual-seq-input .input-controls .interface-button span .material-icons {
          float: right; }

#sequence-input-cmp {
  background-color: #ededf2; }
  #sequence-input-cmp .controls {
    border-radius: 2px;
    background-color: #ededf2;
    padding: 5px;
    margin-bottom: 10px; }
    #sequence-input-cmp .controls .button-container {
      display: inline-block;
      background-color: #ededf2;
      float: right; }
      #sequence-input-cmp .controls .button-container .interface-button {
        outline: none;
        border: 1px solid black;
        border-left: none;
        border-radius: 5px;
        background-color: white;
        margin: 0;
        text-align: center; }
        #sequence-input-cmp .controls .button-container .interface-button span {
          display: inline-block;
          width: 100px; }
        #sequence-input-cmp .controls .button-container .interface-button .custom-file-upload {
          display: inline-block;
          padding: 6px 12px;
          cursor: pointer; }
          #sequence-input-cmp .controls .button-container .interface-button .custom-file-upload input[type="file"] {
            display: none; }
      #sequence-input-cmp .controls .button-container .interface-button:first-child {
        border-left: 1px solid black; }

#result-cmp {
  position: relative; }
  #result-cmp #result-tabs {
    min-width: 90px;
    position: absolute;
    left: 0px;
    padding: 0 0 0 5px;
    z-index: 2;
    background-color: #ededf2; }
    #result-cmp #result-tabs .tab-result {
      background-color: #ededf2;
      height: 90px;
      line-height: 90px;
      margin: 5px 0 10px 0;
      border: 2px solid black;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none; }
      #result-cmp #result-tabs .tab-result .tab-result-name {
        font-size: 15px;
        float: left;
        height: inherit;
        width: 3em;
        background: none;
        color: #222;
        display: inline-block;
        cursor: pointer;
        text-align: left;
        text-decoration: none;
        outline: none;
        padding-left: 0.3em; }
    #result-cmp #result-tabs .current-tab {
      background-color: white; }
  #result-cmp #result-sequences {
    margin-left: 85px;
    margin-top: 5px;
    top: 0;
    left: 0;
    overflow-x: scroll;
    background-color: white;
    border-top-right-radius: 5px;
    border: solid 2px black;
    border-left: none;
    border-bottom: none;
    font-family: "Courier New", "monospace";
    font-size: 23px; }
    #result-cmp #result-sequences .tab-result-sequence {
      margin: 10px 0 5px 0;
      background-color: #ffffff; }
      #result-cmp #result-sequences .tab-result-sequence .digits {
        opacity: 0.3; }
        #result-cmp #result-sequences .tab-result-sequence .digits span {
          border-radius: 2px;
          vertical-align: -4px;
          text-align: center;
          overflow: hidden; }
    #result-cmp #result-sequences .flattened .digits {
      position: static;
      height: 20px;
      line-height: 20px; }
    #result-cmp #result-sequences .flattened .sequence {
      position: static;
      margin-top: 0 !important;
      height: 70px;
      line-height: 70px; }
    #result-cmp #result-sequences .flattened .locked.digits {
      position: absolute; }
    #result-cmp #result-sequences .flattened .locked.sequence {
      position: absolute;
      padding-top: 20px; }
    #result-cmp #result-sequences .full-screen .digits {
      position: static;
      margin-top: -22.5px;
      line-height: 67.5px; }
    #result-cmp #result-sequences .full-screen .sequence {
      position: static;
      line-height: 67.5px; }
  #result-cmp #result-sequences:empty {
    display: none; }
  #result-cmp #result-slider {
    margin-top: 20px; }

/*# sourceMappingURL=UIComponents.css.map */
