@import "utilities/variables";


.suggestions {
  margin-top: 10px;
  background-color: $topNav-primaryMenuBackground;
  border-radius: 10px;
  border: 1px solid $sequence-input-borders;

  min-width: 600px;

  #legend-container {
    border-top: none;
    border-bottom: 1px solid $sequence-input-borders;
    min-height: 26px;

    .absolute {
      position: absolute;
    }

    .feature {
      margin: 0 4px 0 4px;
      padding: 0 4px 0 4px;
    }
  }

  .suggestion {
    min-height: 46px;
    border-top: 1px solid black;
    border-radius: 0;
    padding: 2px;
    margin: 2px;

    .feature {
      display: inline;
      vertical-align: middle;
      padding: 4px;
      margin: 4px;
    }

    .second {
      position: absolute;
      left: 250px;
      max-width: 240px;
    }

    .third {
      position: absolute;
      left: 500px;
      max-width: 240px;
    }
  }

  #motif-list {
    .motif-container {
      .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;

        background-color: $motif-title-bg;
        border: 1px solid black;
        border-radius: 10px;

        font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
        font-size: 16px;
        color: $motif-title-color;
      }
      .motif-title:hover {
        cursor: pointer;
        cursor: hand;
      }
    }

    div:first-child {
      border-top: none;
    }
  }

  #ifMore-container{
    .ifMore-value {
      min-height: unset;

      .show-more-icon {
        color: $textColor;

        .material-icons {
          vertical-align: middle;
        }
      }
    }
  }
}


#motif-list-selected-cmp {
  min-height: 75px;
  #motif-list-selected {
    display: inline-block;
    margin-top: 20px;
    width: 100%;

    .chosen-motif {
      display: inline-block;
      margin: 0 5px 5px 5px;
      padding: 2px 8px 2px 2px;
      border-radius: 10px;
      border: 2px solid black;
      background-color: $motif-in-result-bg;

      .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;
        vertical-align: middle;

        background-color: $motif-in-result-round-bg;
        border: 3px transparent solid;
        border-radius: 5px;

        font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B";
        font-size: 16px;
        color: $motif-title-color;
      }

      .sp-replacer {
        border-radius: inherit;
        border: none;
        background-color: $motif-in-result-round-bg;
      }
    }

    .motif-result-hover {
      .motif-title {
        border-color: $motif-selected-on-result-hover;
      }
    }
  }

  #motif-list-selected:empty{
    display: none;
  }
}

#sequence-input-cmp {
  background-color: $main-bg-color; //#e9e9e9;

  /*#sequence-tabs {
    ul.tabs {
      margin: 0px;
      padding: 0px;
      list-style: none;

      .tab-link {
        border: 2px solid $sequence-input-borders;//#999;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;

        background: none;
        color: black;;
        display: inline-block;
        cursor: pointer;

        .close:before, .close:after {
          position: absolute;
          left: 8px;
          height: 20px;
        }

        .tab-name {
          text-decoration: none;
          color: inherit;
          padding: 0.1em 1.4em 0.1em 1em;
        }
      }

      .current-tab {
        border-bottom-color: $topNav-primaryMenuBackground;
        background-color: $topNav-primaryMenuBackground;

        top: 6px;
        padding-bottom: 10px;
      }
    }
  }*/

  .controls {
    border-radius: 2px;
    background-color: $main-bg-color;
    padding: 5px;
    margin-bottom: 10px;

    .button-container{
      display: inline-block;
      background-color: $main-bg-color;
      float: right;


      .interface-button {
        outline: none;
        border: 1px solid $sequence-input-borders;
        border-left: none;
        border-radius: 5px;

        background-color: $button-bg;

        margin: 0;
        text-align: center;

        span {
          display: inline-block;
          width: 100px;
        }

        .custom-file-upload{
          display: inline-block;
          padding: 6px 12px;
          cursor: pointer;

          input[type="file"] {
            display: none;
          }
        }
      }

      .interface-button:first-child {
        border-left: 1px solid $sequence-input-borders;
      }
    }
  }
}

#result-cmp {
  position: relative;

  #result-tabs{
    min-width: $resultTab-width;
    position: absolute;

    left: 0px;
    padding:0 0 0 5px;
    z-index: 2;

    background-color: $secondaryColor;

    .tab-result {
      height: $resultTab-height;
      line-height: $resultTab-height;
      margin: 5px 0 10px 0;

      border: 2px solid $sequence-input-borders; //#999;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;

      .tab-result-name {
        font-size: 15px;
        float: left;
        height: inherit;
        width: 3em;

        background: none;
        color: #222;
        display: inline-block;
        cursor: pointer;

        text-align: left;
        text-decoration: none;
        outline: none;
        padding-left: 0.3em;

      }
    }

    .current-tab {
      background-color: $current-tab-bg;
    }
  }

  #result-sequences {
    margin-left: $resultTab-width - 5px;
    margin-top: 5px;
    top: 0;
    left: 0;

    overflow-x: scroll;

    background-color: white;
    border-top-right-radius: 5px;
    border: solid 2px $sequence-input-borders;
    border-left: none;
    border-bottom: none;

    .tab-result-sequence {
      //border-bottom: dashed lightgrey 2px;
      margin: 10px 0 5px 0;

      font-family: "Courier New", "monospace";
      font-size: 23px;
      background-color: #ffffff;
      //height: $resultTab-height;
      //line-height: $resultTab-height;

      .digits {
        opacity: 0.3;
      }

      .sequence {
      }
    }

    .flattened {
      .digits {
        position: static;

        height: 20px;
        line-height: 20px;
      }

      .sequence {
        position: static;

        margin-top: 0 !important;
        height: $resultTab-height - 20px;
        line-height: $resultTab-height - 20px;
      }

      .locked.digits {
        position: absolute;
      }

      .locked.sequence {
        position: absolute;
        padding-top: 20px;
      }
    }

    .full-screen {
      .digits {
        position: static;
        margin-top: -50px;
        line-height: $resultTab-height * 1.5;

      }

      .sequence {
        position: static;
        padding-top: 50px;
        line-height: $resultTab-height * 1.5 - 4px;
      }
    }
  }

  #result-sequences:empty {
    display: none;
  }

  #result-slider{
    margin-top: 20px;
  }
}

