@import "utilities/variables";

#help-cmp{
  margin-top: 3 * $topNav-navLineHeight;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;

  padding: 10px;
  border-radius: $border-radius;
  border: $thick solid $borderColor;
  background-color: $boxBackground;
  letter-spacing: 0.75px;

  overflow-x: hidden;

  .help-header {
    margin: 0 auto;
    width: 300px;

    text-transform: capitalize;
    text-align: center;
    font-size: $defaultFontSize * 1.5;
    line-height: $defaultFontSize * 1.5 * 1.5;
  }

  .help-content {
    //text-indent: $defaultFontSize * 2;
    margin: 16px;
    text-align: justify;
    font-size: $defaultFontSize;
    line-height: $defaultFontSize * 1.5;

    ol {
      margin: 8px;
    }
  }

  .italic {
    font-style: italic;
  }
}

.nav-area {
  font-family: $defaultFontFamily;
}

.suggestions {
  font-family: $defaultFontFamily;

  margin-top: 2px + $topNav-navLineHeight;
  background-color: $topNav-primaryMenuBackground;
  border-radius: 10px;
  border: $thin solid $borderColor;

  min-width: 600px;

  #legend-container {
    border-top: none;
    border-bottom: $thin solid $borderColor;
    min-height: 26px;

    .absolute {
      position: absolute;
    }

    .feature {
      margin: 0 4px 0 4px;
      padding: 0 4px 0 4px;
    }
  }

  .suggestion {
    min-height: 46px;
    border-top: $thin solid $borderColor;
    border-radius: 0;
    padding: 2px;
    margin: 2px;

    .feature {
      display: inline;
      vertical-align: middle;
      padding: 4px;
      margin: 4px;
    }

    .second {
      position: absolute;
      left: 250px;
      max-width: 240px;
    }

    .third {
      position: absolute;
      left: 500px;
      max-width: 240px;
    }
  }

  #motif-list {
    max-height: 240px;
    position: relative;

    .motif-container {
      .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;

        background-color: $motif-title-bg;
        border: $thin solid $borderColor;
        border-radius: 10px;

        font-size: 16px;
        color: $motif-title-color;
      }
      .motif-title:hover {
        cursor: pointer;
        cursor: hand;
      }
    }

    div:first-child {
      border-top: none;
    }
  }
  #motif-list.spread {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 360px;
  }

  #ifMore-container{
    .ifMore-value {
      min-height: 35px;

      .interface-button {
        display: block;
        top: 0px;
        padding: 5px;
      }
    }
  }
}


#motif-list-selected-cmp {
  font-family: $defaultFontFamily;
  min-height: 75px;

  #motif-list-selected {
    display: inline-block;
    margin-top: 20px;
    width: 100%;

    .chosen-motif {
      display: inline-block;
      margin: 0 5px 5px 5px;
      padding: 2px 8px 2px 2px;
      border-radius: 10px;
      border: $thick solid $borderColor;
      background-color: $motif-in-result-bg;

      .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;

        background-color: $motif-in-result-round-bg;
        border: 3px transparent solid;
        border-radius: 5px;

        font-size: 16px;
        color: $motif-title-color;
      }

      .description{
        margin: 0 2px 8px 8px;
        vertical-align: middle;
      }

      .sp-replacer {
        border-radius: inherit;
        border: none;
        background-color: $motif-in-result-round-bg;
      }
    }

    .motif-result-hover {
      .motif-title {
        border-color: $motif-selected-on-result-hover;
      }
    }
  }

  #motif-list-selected:empty{
    display: none;
  }
}


#manual-seq-input {
  font-family: $defaultFontFamily;
  background-color: $boxBackground;
  border: $thick solid $borderColor;
  border-radius: 5px;
  margin: 5px;

  textarea {
    border: solid $thick $boxBackground;
    border-bottom: solid $thick $borderColor;

    font-family: $seqFont;
    font-size: $seqFontSize;
    resize: none;

    width: 100%;
    line-height: 25px;
    height: 205px;
    padding: 5px 0;
    margin-bottom: 5px;
  }

  .input-controls {
    margin: 10px 5px 5px 5px;
    overflow: hidden;

    .left {
      display: inline-block;
    }
    .right {
      float: right;
    }

    .interface-button {
      background-color: $secondaryColor;
      border-radius: 5px;
      border: solid $borderColor $thin;
      display: inline-block;
      padding: 5px 10px;

      span {
        display: inline-block;
        min-width: 120px;

        .material-icons {
          float:right;
        }
      }

      label {
        cursor: pointer;
      }
    }

    .zoom-button {
      background-color: $boxBackground;
      cursor: default;
      border: none;

      i {
        cursor: pointer;
        border-radius: $border-radius;
        background-color: $secondaryColor;
        border: $thin solid $borderColor;
      }

      .material-icons:hover {
        color: $icon-hover-color;
      }
      .material-icons:active {
         color: $icon-active-color;
       }
    }


  }
}


#sequence-input-cmp {
  font-family: $defaultFontFamily;
  background-color: $main-bg-color;

  .controls {
    border-radius: 2px;
    background-color: $main-bg-color;
    padding: 5px;
    margin-bottom: 10px;

    .button-container{
      display: inline-block;
      background-color: $main-bg-color;
      float: right;

      .interface-button {
        outline: none;
        border: $thin solid $borderColor;
        border-left: none;
        border-radius: 5px;
        background-color: $button-bg;
        margin: 0;
        text-align: center;

        span {
          display: inline-block;
          width: 100px;
        }

        .custom-file-upload{
          display: inline-block;
          padding: 6px 12px;
          cursor: pointer;

          input[type="file"] {
            display: none;
          }
        }
      }

      .interface-button:first-child {
        border-left: $thin solid $borderColor;
      }
    }
  }
}


#result-cmp {
  font-family: $defaultFontFamily;
  position: relative;

  #result-tabs{
    min-width: $resultTab-width;
    min-height: 305px;

    position: absolute;

    left: 0;
    padding:0 0 0 5px;
    z-index: 2;
    cursor: pointer;
    background-color: $secondaryColor;

    .tab-result {
      background-color: $tab-bg;
      height: $resultTab-height;
      line-height: $resultTab-height;
      margin: 5px 0 10px 0;

      border: $thick solid $borderColor;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;

      .tab-result-name {
        font-size: 15px;
        float: left;
        height: inherit;

        background: none;
        color: #222;
        display: inline-block;

        text-align: left;
        text-decoration: none;
        padding-left: 5px;

      }
    }

    .current-tab {
      background-color: $current-tab-bg;
    }
  }

  #result-sequences {
    font-family: $seqFont;
    font-size: $seqFontSize;

    margin-left: $resultTab-width - 5px;
    margin-top: 5px;
    top: 0;
    left: 0;

    overflow-x: scroll;
    overflow-y: hidden;

    background-color: white;
    border-top: solid $thick $borderColor;
    border-top-right-radius: 5px;

    .patch {
      position: absolute;
      width: 5px;
      height: inherit;
      z-index: 2;
    }
    .border-patch {
      border-right: solid $borderColor $thick;
      border-radius: 5px;
      right: 5px;
    }
    .area-patch{
      background-color: $secondaryColor;
      right: 0;
    }

    .tab-result-sequence {
      margin: 10px 0 5px 0;
      background-color: #ffffff;

      .digits {
        opacity: 0.3;

        span {
          border-radius: 2px;

          vertical-align: -4px;
          text-align: center;
          overflow: hidden;
        }
      }
    }

    .flattened {
      .digits {
        position: static;

        height: 20px;
        line-height: 20px;

        width: inherit;
      }

      .sequence, .title {
        position: static;

        margin-top: 0 !important;
        height: $resultTab-height - 20px;
        line-height: $resultTab-height - 20px;

        width: inherit;
      }

      .locked.digits {
        position: absolute;
      }

      .locked.sequence, .locked.title {
        position: absolute;
        padding-top: 20px;
      }
    }

    .full-screen {
      .digits {
        position: static;
        margin-top: -$resultTab-height * 0.25;
        line-height: $resultTab-height * 0.75;

      }

      .sequence, .title {
        position: static;
        line-height: $resultTab-height * 0.75;
      }
    }
  }

  #result-sequences:empty {
    display: none;
  }
}

#motif-table-cmp {
  font-family: $defaultFontFamily;
  word-break: break-all;
}


/* Media for larger devices */
@media screen and (min-width: $widthThreshHold) {
  #help-cmp {
    margin-top: 2 * $topNav-navLineHeight;
  }

  .suggestions {
    margin-top: 2px;
  }
}