@import "utilities/variables";

.suggestions {
  margin-top: 10px;
  background-color: $topNav-primaryMenuBackground;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 $topNav-primaryBoxShadow;

  min-width: 500px;

  .suggestion {
    min-height: 46px;
    border-top: 1px solid white;
    border-radius: 0;
    padding: 2px;
    margin: 2px;

    .feature {
      display: inline;
      vertical-align: middle;
    }

    .second {
      position: absolute;
      left: 250px;
      padding: 4px;
      margin: 4px;
      max-width: 240px;
    }
  }

  #motif-list {
    .motif-container {
      .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;

        background-color: $motif-title-bg;
        border: 1px solid black;
        border-radius: 10px;

        font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
        font-size: 16px;
        color: $motif-title-color;
      }
      .motif-title:hover {
        cursor: pointer;
        cursor: hand;
      }
    }

    div:first-child {
      border-top: none;
    }
  }

  .ifMore-value {
    min-height: unset;
  }
}


#motif-list-selected-cmp {
  min-height: 75px;
  #motif-list-selected {
    display: inline-block;
    margin-top: 20px;
    width: 100%;

    .chosen-motif {
      display: inline-block;
      margin: 0 5px 5px 5px;
      padding: 2px 8px 2px 2px;
      border-radius: 10px;
      border: 1px solid black;
      background-color: $motif-in-result-bg;

      .motif-title {
        display: inline-block;
        padding: 4px;
        margin: 4px;
        vertical-align: middle;

        background-color: $motif-in-result-round-bg;
        border: none;
        border-radius: 5px;

        font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B";
        font-size: 16px;
        color: $motif-title-color;
      }

      .sp-replacer {
        border-radius: inherit;
        border: none;
        background-color: $motif-in-result-round-bg;
      }
    }

    .motif-result-hover {
      .motif-title {
        background-color: $motif-selected-on-result-hover;
      }
    }
  }

  #motif-list-selected:empty{
    display: none;
  }
}

#sequence-input-cmp {
  background-color: $topNav-primaryMenuBackground;

  #sequence-tabs {
    ul.tabs {
      margin: 0px;
      padding: 0px;
      list-style: none;

      .tab-link {
        border: 2px solid #999;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;

        background: none;
        color: #222;
        display: inline-block;
        cursor: pointer;

        .close:before, .close:after {
          position: absolute;
          left: 8px;
          height: 20px;
        }

        .tab-name {
          text-decoration: none;
          color: #222222;
          padding: 0.75em 1.25em;
        }
      }

      .current-tab {
        border-bottom-color: #e9e9e9;
        background-color: #e9e9e9;

        top: 6px;
        padding-bottom: 10px;
      }
    }
  }

  .controls {
    border: 2px solid #999;
    border-radius: 2px;
    background-color: #e9e9e9;
    padding: 15px;

    .button-container{
      display: inline-block;
      border: 5px solid #999;
      border-radius: 5px;


      .interface-button {
        outline: none;
        border-right: 2px solid #999;
        margin: 0;
        text-align: center;

        span {
          display: inline-block;
          width: 150px;
        }
      }

      .interface-button:last-child {
        border-right: none;
      }
    }
  }
}

#result-cmp {
  //display: inline-block;

  .tab-result {
    height: $resultTab-height;
    line-height: $resultTab-height;

    margin: 1em 0 1em 0;

    .tab-result-name {
      font-size: 15px;
      float: left;
      height: inherit;
      width: 3em;

      border: 2px solid #999;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;

      background: none;
      color: #222;
      display: inline-block;
      cursor: pointer;

      text-align: left;
      text-decoration: none;
      outline: none;
      padding-left: 0.3em;

    }

    .tab-result-sequence {
      font-family: "Courier New", "Times New Roman";
      font-size: 23px;
      margin-left: 3em;
      background-color: #ffffff;
      height: inherit;
      line-height: inherit;
    }
  }

  .current-tab-result {
    border-bottom-color: #e9e9e9;
    background-color: #e9e9e9;

    top: 6px;
    padding-bottom: 10px;
  }
}

