@import "variables";

//Example from - https://www.w3schools.com/css/css_tooltip.asp

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px 2px;
  border-radius: 6px;
  font-size: $defaultFontSize * 0.75;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;

  //bottom: 135%; - set further
  left: 50%;
  margin-left: -45px;

  /* Transition */
  opacity: 0;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;

  -webkit-transition-delay: 0.5s; /* Safari */
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/*.nav-area {
  .tooltip .tooltiptext {
    top: 100%; // bottom tooltip for nav
  }
}*/
.interface-component {
  .tooltip .tooltiptext {
    bottom: 135%; // top tooltip for interface
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
