$primaryColor: #dadada;
$secondaryColor: #ededf2;
$accentColor: #a3a3a3;
$boxBackground: white;
$textColor: black; //#797979;

//nav-bar
$topNav-navLineHeight: 40px;

$topNav-primaryMenuBackground: $primaryColor;

$topNav-primaryMenuText: $textColor;
$topNav-secondaryMenuText: $textColor;

$topNav-primaryBoxShadow: black;

//motif titles
//BLACK WHITE SALMON
$motif-title-bg: $boxBackground;
$motif-title-color: $textColor;
$motif-in-result-bg: $boxBackground;
$motif-in-result-round-bg: $boxBackground;
$motif-selected-on-result-hover: salmon;


//main page
$main-bg-color: $secondaryColor;
$search-color: $primaryColor;


//P-slider slider
$slider-connect-bg: $accentColor; //
$slider-pips-col: $textColor;
$slider-marker-bg: $textColor;


//buttons
$icon-default-color: $textColor;
$icon-hover-color: $textColor;
$icon-active-color: $accentColor;
$button-bg: white;
$sequence-input-borders: black;


//sequenceInput
$resultTab-width: 90px;
$resultTab-height: 70px;

//global features
$border-radius: 5px;

//tabs
$current-tab-bg: white;