//nav-bar
$topNav-navLineHeight: 40px;
$topNav-subNavMinWidth: 150px;

$topNav-primaryMenuBackground: #fafafa;
$topNav-secondaryMenuBackground: #ff8358;

$topNav-primaryMenuText: #A7A7A7;
$topNav-secondaryMenuText: #303030;

$topNav-primaryBoxShadow: #DDDDDD;
$topNav-secondaryBoxShadow: #ff8358;

//nav-sidebar
$sideNav-initialWidth: 4.0rem;
$sideNav-mainColor: #2680F3;
