$primaryColor: #dadada;
$secondaryColor: #ededf2;
$accentColor: #a3a3a3;
$boxBackground: white;
$textColor: black; //#797979;

$defaultFontSize: 16px;
$defaultFontFamily: sans-serif; //check this in jquery-ui.css

//nav-bar
$topNav-navLineHeight: 40px;
$topNav-navSearchBoxWidth: 380px;
$topNav-primaryMenuBackground: $primaryColor;
$topNav-primaryMenuText: $textColor;
$topNav-secondaryMenuText: $textColor;
$topNav-primaryBoxShadow: black;

//motif titles
//BLACK WHITE SALMON
//$motif-title-font: $defaultFontFamily;
$motif-title-bg: $boxBackground;
$motif-title-color: $textColor;
$motif-in-result-bg: $boxBackground;
$motif-in-result-round-bg: $boxBackground;
$motif-selected-on-result-hover: $accentColor;


//main page
$main-bg-color: $secondaryColor;
$search-color: $primaryColor;


//P-slider slider
$slider-connect-bg: $accentColor; //
$slider-pips-col: $textColor;
$slider-marker-bg: $textColor;


//buttons
$icon-default-color: $textColor;
$icon-inactive: rgba(0, 0, 0, 0.54); //from icon.css
$icon-hover-color: $textColor;
$icon-active-color: $accentColor;

$button-bg: white;
$sequence-input-borders: black;

//sequenceInput
$seqFont: "Courier New", "Monospaced", monospace;
$seqFontSize: 23px;
$resultTab-width: 180px;
$resultTab-height: 90px;

//global features
$border-radius: 5px;

//tabs
$current-tab-bg: white;
$tab-bg: $primaryColor;

//borders
$borderColor: grey; //check this in jquery-ui.css
$thick: 1.5px;
$thin: 1px;

//screen width
$widthThreshHold: 1360px;
$topButtonsWidthThreshold: 974px;